header{
   position: fixed;
   width: 100%;
   z-index: 10;
   max-height: 100px;
   height: 100px;
}
main{
   padding-top: 110px;
}

.header-top{
   background-color: black;
   padding: 1rem;
}
.logo-top{
   width: 110px;
}
.header-{
   background-color: white;
}
.header-bot li a i {
   font-size: 1.5rem;
}
.btn_{
   padding: .300rem 1rem;
   border-radius: 1rem;
}
.btn-acc{
   color: white;
   background-color: black;
}
.btn-acq{
   background-color: #CD3D0F;
   color: white;
}
.jumbo{
   position: relative;
}
.jumbo-img{
   width: 100%;
   min-height: 50vh;
   object-position: center;
   object-fit: cover;
}

.info-jumbo{
   position: absolute;
   z-index: 1;
   left: 0;
   bottom: 0;
   right: 0;
   padding: 3rem 1rem;
}

.info-jumbo-img{
   width: 200px;
   margin-bottom: 1rem;
}
.game{
   border-radius: 15px;
   padding: 0.5rem;
}
.game2{
   border-radius: 2rem;
}
.game-border{
   border: 1px solid blue;
   padding: 4px 4px;
}

.product{
   padding: 3rem 0;
}

.product-menu{
   opacity: 0.8;
}

.product-menu.select{
   opacity: 1;
   border-bottom: 2px solid blue;
}

.product-menu:hover {
   opacity: 1;
   border-bottom: 2px solid blue;
}
.realise{
   background-color: black;
}
.new-realise{
   color: white;
}
