/* TAG-SEMANTICI */
body{
   font-family: 'Roboto', sans-serif;
}


header{
   position: fixed;
   width: 100%;
   z-index: 10;
   max-height: 100px;
   height: 100px;
}
main{
   padding-top: 110px;
}
footer{
   background-color: #00439C;
   color: white;
}
/* HEADER */
.header-top{
   background-color: black;
   padding: 1rem;
}
.logo-top{
   width: 110px;
}
.header-{
   background-color: white;
}
.header-bot li a i {
   font-size: 1.5rem;
}

/* BTN */
.btn span{
   display: inline-block;
   padding: .300rem 1rem;
   border-radius: 2rem;
   color: white;
}
/* .btn.rad{
   border-radius: 15px;
} */
.btn-acc {
   color: white;
   background-color: black;
   border-radius: 2rem;
}
.btn-acq span{
   background-color: #CD3D0F;
   color: white;
}
.btn-acq:hover{
   border-radius: 2rem;
   outline: none;
   box-shadow: 0 0 0 1px #CD3D0F;
}
.btn-infor{
   border-radius: 2rem;
}
.btn_plus {
   background-color: #D9DADC;
   color: #1B80D3;
   border-radius: 2rem;
}
.btn_plus:hover{
   border-radius: 2rem;
   outline: none;
   box-shadow: 0 0 0 1px #1B80D3;
}
.btn_now {
   background-color: whitesmoke;
   color: black;
   border-radius: 2rem;
}
.btn_now:hover{
   border-radius: 2rem;
   outline: none;
   box-shadow: 0 0 0 1px whitesmoke;
}
.btn_p4{
   border-radius: 2rem;
}
/* .btn-h:hover{
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   padding: 1px 1px;
   border: 2px solid #00439C;
} */
/* MAIN */
/* JUMBO / HERO */
.jumbo{
   position: relative;
}
.jumbo-img{
   width: 100%;
   min-height: 50vh;
   object-position: center;
   object-fit: cover;
}

.info-jumbo{
   position: absolute;
   z-index: 1;
   left: 0;
   bottom: 0;
   right: 0;
   padding: 3rem 1rem;
}

.info-jumbo-img{
   width: 200px;
   margin-bottom: 1rem;
}
/* SECTION GIOCHI */
.game{
   border-radius: 15px;
   padding: 0.5rem;
   transition: all 0.5s;
   
}
.game:hover{
   transform: translateY(-15px);
}

.game2{
   border-radius: 2rem;
}
.game-border{
   border: 1px solid blue;
   padding: 4px 4px;
}
/* SECTION PRODUCT */
.product{
   padding: 3rem 0;
}

.product-menu{
   opacity: 0.8;
}

.product-menu.select{
   opacity: 1;
   border-bottom: 2px solid blue;
}

.product-menu:hover {
   opacity: 1;
   border-bottom: 2px solid blue;
}
/* SECTION NEW REALISE */
.realise{
   background-color: black;
}
.new-realise{
   color: white;
}
/* SECTION PLAYSTATION-PLUS */
.plus{
   background-color: lightgray;
}
.ps-plus-img{
   max-width: 300px;
   width:300px;
   margin-bottom: 30px;
}
/* SECTION PLAYSTATION-NOW */
.now{
   background-color: #161C3B;
}
.ps-now-img{
   max-width: 300px;
   width:300px;
   margin-bottom: 30px;
}
/* SECTION SOCIAL */
.social-list{
   height: 150px;
   width: 150px;
}
.social_{
   font-size: 5rem;
}

.social ul li {
   list-style: none;
   padding: 0;
}
/* FINE MAIN */
/* INIZIIO FOOTER */

footer ul {
   list-style: none;
   padding: 0;
}
footer a{
   color: white;
}
.globe{
   width: 15px;
   height: 15px;
}
.sony-img{
   width: 200px;
   height: 200px;
}

